{% extends './layouts/app.html' %}

{% block title %} Photo List {% endblock %}

{% block content %}
<div class="photo_list">
    <h1>Photo List</h1>
    <div class="imgList">
        <ul>
            <li>
                <img src="https://1.bp.blogspot.com/-3iHDiA3YD4A/Xxy6UCffiFI/AAAAAAABFAc/RgvMMx14yrAC_mK3MkKAMdYJ2Z_oi21bwCLcBGAsYHQ/s1600/lilycat41.jpg"
                    alt="gato">
            </li>
            <li>
                <img src="https://www.laizquierdadiario.cl/IMG/arton180177.jpg?1605724309" alt="mujer">
            </li>
        </ul>
    </div>
</div>
{% endblock %}